nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 20px;
}

nav span {
  font-family: "Bungee Inline", cursive;
  color: #ffffff;
  margin-left: 1.5em;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.right-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.fa-angle-double-down {
  color: rgba(255, 0, 0, 0.938);
}

#bird {
  height: 60px;
  width: 140px;
  padding-right: 10px;
}
