.newContainer {
  padding: bottom 100px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.previous-Tweet {
  margin-top: 10px;
  border: solid black 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.previous-Tweet header {
  display: flex;
  justify-content: space-between;
}
.image {
  display: flex;
  align-items: center;
  gap: 10px;
}
.previous-Tweet footer {
  display: flex;
  justify-content: space-between;
  border-top: solid 5px black;
  padding-top: 10px;
}

.previous-Tweet:hover {
  box-shadow: 5px 5px #4056a1;
}

.tweeticon {
  color: black;
}

.fas:hover {
  color: goldenrod;
}
